.runButtonContainer {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
}

.runButtonContainer > span {
  color: var(--prism-icon);
}

.runButtonIcon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
}

.runButtonDisabled {
  opacity: 0.25;
  color: grey;
}

@media only screen and (max-width: 996px) {
  .showRunButton {
    display: none !important;
  }
}
