.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}

.landingPage h1:first-of-type {
  font-size: 3rem;
  line-height: 1.1;
}
