:root {
  --snippet-active-fg-color: #fdca40;
  --snippet-active-bg-color: #6638b8;
}

@keyframes animateNavbarIconActive {
  0% {
    transform: scale(1);
    color: var(--ifm-navbar-link-color);
    background-color: var(--mui-palette-background-paper);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    color: var(--snippet-active-fg-color);
    background-color: var(--snippet-active-bg-color);
  }
}

@keyframes animateNavbarIconInactive {
  0% {
    transform: scale(1) rotate(-20deg);
    color: var(--snippet-active-fg-color);
    background-color: var(--snippet-active-bg-color);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: scale(1);
    color: var(--ifm-navbar-link-color);
    background-color: var(--mui-palette-background-paper);
  }
}

.navbarIconActive {
  animation: animateNavbarIconActive 0.5s ease-in-out forwards;
  color: var(--snippet-active-fg-color);
}

.navbarIconInactive {
  animation: animateNavbarIconInactive 0.5s ease-in-out forwards;
}

.navbarIconActiveStatic {
  color: var(--snippet-active-fg-color);
}

.navbarIconInactiveStatic > svg {
  color: var(--ifm-navbar-link-color);
}

.navbarButton {
  margin-left: 8px !important;
  fill: currentColor;
}

.buttonIcon {
  /* Visually center the icon */
  transform: translate(0.5px, 1px);
}

@media only screen and (max-width: 996px) {
  .showDocsTrackerNavbarButton > svg {
    display: none;
  }
  .showHint {
    display: none;
  }
}
