.docsTrackerDrawer > div {
  width: 500px;
}

.drawerPaper {
  width: 360px;
  border-radius: 10px 0px 0px 10px;
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.drawerBody {
  height: 100%;
  padding: 20px;
}

.drawerForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.saveButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.clearButton {
  margin-right: 10px !important;
}

.whatIsThisDetails {
  background: #f0ebf8;
  color: #412476;
  border-radius: 5px;
  padding: 10px 15px 10px;
}

[data-theme='dark'] .whatIsThisDetails {
  background: var(--ifm-color-primary-lighter);
  color: var(--ifm-font-color-base);
}

details[open] > summary {
  margin-bottom: 15px;
}

.whatIsThisSummary {
  margin: -10px;
  padding: 10px;
}

.whatIsThisSummary:hover {
  cursor: pointer;
}

.microLink {
  text-decoration: underline;
}

[data-theme='dark'] .microLink {
  color: var(--ifm-font-color-base);
}

.runButtonExample {
  margin-top: 10px;
  margin-bottom: 10px;
}
