.feedbackPrompt {
  display: flex;
  align-items: center;
}

.feedbackPrompt > svg,
.feedbackPrompt > span {
  margin-right: 5px;
}

.feedbackPrompt svg {
  fill: var(--ifm-font-color-base);
}

.feedbackComment textarea {
  height: 150px;
  padding: 12px;
  margin-top: 12px;
  box-sizing: border-box;
  max-width: 80%;
  border: 2px solid var(--ifm-color-primary);
  border-radius: var(--ifm-alert-border-radius);
  background-color: var(--ifm-navbar-background-color);
  resize: none;
}

.feedbackPrompt button,
.feedbackComment button {
  cursor: pointer;
  margin-right: 8px;
}

.feedbackThanksMessage {
  margin-top: 12px;
  font-weight: 500;
}
