.lastUpdated {
  margin-top: 0.2rem;
  font-style: italic;
  font-size: smaller;
}

@media (min-width: 997px) {
  .lastUpdated {
    text-align: right;
  }
}

.feedback_question {
  font-size: 14px;
  font-style: italic;
}

.comment_box {
  height: 150px;
  padding: 12px;
  margin-top: 16px;
  margin-right: 16px;
  box-sizing: border-box;
  border: 2px solid var(--ifm-color-primary);
  border-radius: var(--ifm-alert-border-radius);
  background-color: var(--ifm-background-color);
  resize: none;
}

.feedback_button {
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  gap: 8px;
  background: #f0ebf8;
  width: auto;
  height: 30px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border: 1px solid #f0ebf8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: var(--ifm-alert-border-radius);
  margin-right: 16px;
  margin-top: 4px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #412476;
}

[data-theme='dark'] .feedback_button {
  background: var(--ifm-color-primary-light);
  border-color: var(--ifm-color-primary-light);
  color: var(--ifm-font-color-base);
}

[data-theme='dark'] .feedback_button:hover {
  background: var(--ifm-color-primary-lighter);
  border-color: var(--ifm-color-primary-lighter);
}

[data-theme='dark'] .feedback_button:focus {
  background: var(--ifm-color-primary-lighter);
  border-color: var(--ifm-color-primary-lighter);
  color: var(--ifm-font-color-base);
}

.feedback_button:active,
.feedback_button:hover,
.feedback_button:focus {
  text-decoration: none;
  background: #e4dcef;
  border-color: #e4dcef;
}
