@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;

    --font-fallback: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @font-face {
  font-family: 'Inter18pt-Bold';
  src: url('/fonts/Inter18pt-BoldItalic.woff2') format('woff2'),
      url('/fonts/Inter18pt-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter18pt-BoldItalic';
  src: url('/fonts/Inter18pt-Italic.woff2') format('woff2'),
      url('/fonts/Inter18pt-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter18pt-Bold';
  src: url('/fonts/Inter18pt-Bold.woff2') format('woff2'),
      url('/fonts/Inter18pt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter18pt-Regular';
  src: url('/fonts/Inter18pt-Regular.woff2') format('woff2'),
      url('/fonts/Inter18pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter18pt-Light';
  src: url('/fonts/Inter18pt-Light.woff2') format('woff2'),
      url('/fonts/Inter18pt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter18pt-LightItalic';
  src: url('/fonts/Inter18pt-LightItalic.woff2') format('woff2'),
      url('/fonts/Inter18pt-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}


/* You can override the default Infima variables here. */
:root {
  --ifm-background-color: #f2f4f7;
  --ifm-color-primary: #6638b8;
  --ifm-color-primary-dark: #522d93;
  --ifm-color-primary-darker: #472781;
  --ifm-color-primary-darkest: #29164a;
  --ifm-color-primary-light: #7345c6;
  --ifm-color-primary-lighter: #926ed3;
  --ifm-color-primary-lightest: #b198df;
  --ifm-color-accent: #fc5e35;
  --ifm-color-accent-darker: #e5481f;
  --ifm-color-announcement: #e6f6fe;
  --ifm-code-font-size: 95%;
  --ifm-code-padding-vertical: 0.05rem;
  --ifm-font-family-base: 'Inter18pt-Regular', var(--font-fallback);
  --ifm-menu-color-active: #6638b8;
  --ifm-font-color-base: #000000;
  --ifm-font-color-base-inverse: rgb(218, 221, 225);
  --ifm-toc-padding-horizontal: 20px;
  --docusaurus-highlighted-code-line-bg: rgba(224, 199, 50, 0.2);
  --doc-sidebar-width: 330px !important;
  --ifm-tabs-padding-vertical: 7px;
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgb(102, 56, 184)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-menu-color-active: #b198df;
  --ifm-color-primary: #b198df;
  --ifm-color-primary-dark: #522d93;
  --ifm-color-primary-darker: #472781;
  --ifm-color-primary-darkest: #29164a;
  --ifm-color-primary-light: #7345c6;
  --ifm-color-primary-lighter: #926ed3;
  --ifm-color-primary-lightest: #b198df;
  --ifm-color-accent: #e5481f;
  --ifm-color-accent-darker: #fc5e35;
  --docusaurus-highlighted-code-line-bg: rgba(224, 199, 50, 0.2);
  --ifm-font-color-base: rgb(218, 221, 225);
  --ifm-font-color-base-inverse: #000000;
}

[data-theme='dark'] .breadcrumbs__item--active .breadcrumbs__link {
  color: var(--ifm-font-color-base);
  background: none;
  text-decoration: none;
}

@media screen and (min-width: 997px) {
  .container {
    padding-left: 64px;
  }

  .nav-link__first {
    margin-left: 20px;
  }

  ul.breadcrumbs {
    margin-bottom: 32px;
  }
}

.navbar__brand {
  margin-right: 0;
}

.navbar__logo {
  max-width: 150px;
  max-height: 28px;
  margin-left: 4px;
}

/* All buttons */

a.snowplow-button,
button.snowplow-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
  height: 40px;
  border: none;
  border-radius: 4px;

  font-family: 'Inter18pt-Regular', var(--font-fallback);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;

  background: #f0ebf8;
  color: #412476;
}

a.snowplow-button:active,
a.snowplow-button:hover,
a.snowplow-button:focus,
button.snowplow-button:active,
button.snowplow-button:hover,
button.snowplow-button:focus {
  text-decoration: none;
  background: #e4dcef;
  border-color: #e4dcef;
}

[data-theme='dark'] a.snowplow-button,
[data-theme='dark'] button.snowplow-button {
  background: var(--ifm-color-primary-light);
  border-color: var(--ifm-color-primary-light);
  color: var(--ifm-font-color-base);
}

[data-theme='dark'] a.snowplow-button:active,
[data-theme='dark'] button.snowplow-button:active,
[data-theme='dark'] a.snowplow-button:hover,
[data-theme='dark'] button.snowplow-button:hover,
[data-theme='dark'] a.snowplow-button:focus,
[data-theme='dark'] button.snowplow-button:focus {
  background: var(--ifm-color-primary-lighter);
  border-color: var(--ifm-color-primary-lighter);
}

/* Call to action buttons */

[data-theme] a.snowplow-button.cta-button,
[data-theme] button.snowplow-button.cta-button {
  background-color: var(--ifm-color-accent);
  border-color: var(--ifm-color-accent);
  color: white;
}

[data-theme] a.snowplow-button.cta-button:active,
[data-theme] button.snowplow-button.cta-button:active,
[data-theme] a.snowplow-button.cta-button:hover,
[data-theme] button.snowplow-button.cta-button:hover,
[data-theme] a.snowplow-button.cta-button:focus,
[data-theme] button.snowplow-button.cta-button:focus {
  background-color: var(--ifm-color-accent-darker);
  border-color: var(--ifm-color-accent-darker);
  color: white;
}

/* Alert buttons */

.alert a.snowplow-button {
  display: inline-block;
  margin-top: 5px;
}

[data-theme] .alert a.snowplow-button {
  color: white;
}

[data-theme='light'] .alert a.snowplow-button {
  background: var(--ifm-color-primary-light);
  border-color: var(--ifm-color-primary-light);
}

[data-theme='light'] .alert a.snowplow-button:hover {
  background: var(--ifm-color-primary-lighter);
  border-color: var(--ifm-color-primary-lighter);
}

/* End of buttons */

p {
  line-height: 24px;
}

header,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter18pt-Bold', var(--font-fallback);
}


h1 {
  font-size: 38px;
  line-height: 44px;
}

h2 {
  font-size: 28px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

table h1,
table h2,
table h3 {
  margin-bottom: 0;
}

.table-of-contents__left-border {
  border-left-color: var(--border);
}

.theme-doc-sidebar-item-link-level-1.header {
  margin-top: 1em;
  padding-bottom: 0;
  padding-left: var(--ifm-menu-link-padding-horizontal);
  font-variant: all-small-caps;
  font-size: 1.1em;
  color: var(--ifm-color-primary-darker);
}

[data-theme='dark'] .theme-doc-sidebar-item-link-level-1.header {
  color: var(--ifm-color-primary-lightest);
}

.theme-doc-sidebar-item-link-level-1 {
  font-weight: 500;
}

.theme-doc-sidebar-item-category-level-2,
.theme-doc-sidebar-item-link-level-2 {
  font-weight: 400;
}

.theme-doc-sidebar-item-category-level-3,
.theme-doc-sidebar-item-category-level-4,
.theme-doc-sidebar-item-link-level-3,
.theme-doc-sidebar-item-link-level-4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

li.hidden,
article.hidden {
  display: none;
}

a.menu__link,
a.card {
  position: relative;
}

a.card:hover::after {
  top: 2rem;
  left: 2rem;
  bottom: auto;
}

.breadcrumbs__item:not(:last-child):after {
  content: '/';
  background: none;
  color: var(--ifm-color-primary);
  padding-right: 4px;
}

.breadcrumbs__item .breadcrumbs__link {
  color: var(--ifm-color-primary);
  text-decoration: underline;
}

.breadcrumbs__item .breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--ifm-font-color-base);
  background: none;
  text-decoration: none;
}

.breadcrumbs__item--active .breadcrumbs__link:hover {
  text-decoration: none;
}

.theme-doc-toc-desktop ul ul {
  padding-left: 0;
}

.breadcrumbs__link {
  font-size: 14px;
}

.breadcrumbs__item:not(:last-child):after {
  margin: 0 0 0 3px;
}

ul.breadcrumbs {
  --ifm-breadcrumb-size-multiplier: 0.4;
}

ul.breadcrumbs > li.breadcrumbs__item > a.breadcrumbs__link > svg {
  top: 2px;
}

.card .text--truncate {
  overflow: visible;
  text-overflow: initial;
  white-space: normal;
}

.col .card {
  height: 100%;
}

div[class^='announcementBar_'] {
  background: var(--ifm-color-announcement);
}

code {
  vertical-align: baseline;
}

input[type='text'],
input[type='email'],
textarea {
  font-family: 'Inter18pt-Regular', var(--font-fallback);
  font-size: 14px;
}

textarea {
  max-width: 100%;
}

[data-theme='light'] .dbt details {
  --ifm-alert-background-color: null;
}

img.shield {
  vertical-align: text-bottom;
}

.tabs-container:hover {
  border: 2px solid var(--ifm-color-primary);
}

.tabs-container {
  padding: 7px 14px 14px;
  border: 2px solid transparent;
  border-radius: var(--ifm-alert-border-radius);
  transition: 0.4s cubic-bezier(0.38, 0.14, 0.58, 1) all;
}

.tabs__item {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  text-align: center;
}

abbr[data-title] {
  position: relative;
  cursor: help;
  /* ensure consistent styling across browsers */
  text-decoration: underline dotted;
}

abbr[data-title]:hover::after,
abbr[data-title]:focus::after {
  content: attr(data-title);
  font-weight: normal;
  /* position tooltip like the native one */
  position: absolute;
  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;

  /* style tooltip */
  background-color: var(--ifm-font-color-base);
  color: var(--ifm-font-color-base-inverse);
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 14px;
  z-index: 9998;
  padding: 3px 5px;
}

.coloredSvg {
  stroke: var(--ifm-color-primary);
  fill: var(--ifm-color-primary);
}

fieldset {
  border: none;
}

.JsonValidator .MuiGrid-root.MuiGrid-item {
  padding-top: 8px;
}

.JsonValidator .collapsibleContent_i85q {
  padding-top: 0px;
}

.JsonValidator .MuiFormControl-root.MuiTextField-root.css-i44wyl {
  margin-bottom: 16px;
}

/*
Controls the display of navbar/sidebar items
- desktop-only: only visible on desktop top navbar
- mobile-only: only visible on mobile side menu, not in top navbar
*/
.navbar__items > .mobile-only {
  display: none;
}

@media (max-width: 996px) {
  .navbar__items > .mobile-only {
    display: none;
  }

  .navbar__items > .desktop-only {
    display: none;
  }
}

.menu__list > .desktop-only {
  display: none;
}

@media (min-width: 996px) {
  .menu__list > .desktop-only {
    display: none;
  }
}

/* Prevents the indicator on the Docs / Tutorials & Guides tabs from being hidden by overflow: hidden */
.desktop-only > .MuiTabs-scroller {
  overflow: visible !important;
  overflow-x: visible !important;
}

.mobile-only > .MuiTabs-scroller {
  overflow: visible !important;
  overflow-x: visible !important;
}

/* General styling for tutorial pages */
.tutorial-doc-page .pagination-nav {
  margin-top: 2rem;
}

/* Hide the last updated times on the tutorial home page */
.tutorial-home-page article > footer {
  display: none;
}

.docs-tutorial-tab-indicator {
  height: 4px !important;
  transition: none !important;
  transform: translateY(4px);
}

.docs-tutorial-tabs {
  overflow: visible !important;
}

.sources-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}
