@tailwind base;
@tailwind components;
@tailwind utilities;

/*** Shadcn UI theme */
 @layer base {
  :root {
    --background: 210 20% 98.04%;
    --foreground: 220.91 39.29% 10.98%;
    --muted: 220 13.04% 90.98%;
    --muted-foreground: 215 14% 34%;
    --popover: 0 0% 100%;
    --popover-foreground: 220.91 39.29% 10.98%;
    --card: 0 0% 100%;
    --card-foreground: 220.91 39.29% 10.98%;
    --border: 220 13.04% 90.98%;
    --input: 220 13.04% 90.98%;
    --primary: 261.56 53.33% 47.06%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 220.91 39.29% 10.98%;
    --accent: 220 14.29% 95.88%;
    --accent-foreground: 220.91 39.29% 10.98%;
    --destructive: 3.96 72.8% 50.98%;
    --destructive-foreground: 0 0% 100%;
    --ring: 262.11 53.27% 79.02%;
    --chart-1: 262.11 53.27% 79.02%;
    --chart-2: 183.6 84.27% 34.9%;
    --chart-3: 40.11 80% 54.9%;
    --chart-4: 339.77 74.78% 54.9%;
    --chart-5: 220.45 70.08% 50.2%;
    --radius: 0.25rem;

    --font-fallback: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

  [data-theme='dark'] {
    --background: 0 0% 1.96%;
    --foreground: 0 0% 90.2%;
    --muted: 156 9% 8%;
    --muted-foreground: 0 0% 60%;
    --popover: 0 0% 6.27%;
    --popover-foreground: 0 0% 90.2%;
    --card: 0 0% 9.8%;
    --card-foreground: 0 0% 90.2%;
    --border: 0 0% 13.73%;
    --input: 0 0% 17.65%;
    --primary: 258.05 71.93% 66.47%;
    --primary-foreground: 0 0% 90.2%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 90.2%;
    --accent: 0 0% 15.69%;
    --accent-foreground: 0 0% 60%;
    --destructive: 3.95 72.93% 44.9%;
    --destructive-foreground: 0 0% 100%;
    --ring: 262.11 53.27% 79.02%;
    --chart-1: 261.82 54.1% 88.04%;
    --chart-2: 183.75 45.28% 58.43%;
    --chart-3: 40.27 76.84% 62.75%;
    --chart-4: 340 73.06% 62.16%;
    --chart-5: 220.66 71.03% 58.04%;
  }
}


/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'InterVariable';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 1 999;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'InterVariable';
  src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 1 999;
  font-style: italic;
  font-display: swap;
}
/* You can override the default Infima variables here. */

:root {
  
  --ifm-color-primary: #6638b8;
  --ifm-color-primary-dark: #522d93;
  --ifm-color-primary-darker: #472781;
  --ifm-color-primary-darkest: #29164a;
  --ifm-color-primary-light: #7345c6;
  --ifm-color-primary-lighter: #926ed3;
  --ifm-color-primary-lightest: #b198df;
  --ifm-color-accent: #fc5e35;
  --ifm-color-accent-darker: #e5481f;
  --ifm-color-announcement: #e6f6fe;
  --ifm-code-font-size: 95%;
  --ifm-code-padding-vertical: 0.05rem;
  --ifm-font-family-base: 'InterVariable', var(--font-fallback);
  --ifm-menu-color-active: #6638b8;
  --ifm-font-color-base: var(--muted-foreground);
  --ifm-font-color-base-inverse: rgb(218, 221, 225);
  --ifm-toc-padding-horizontal: 20px;
  --docusaurus-highlighted-code-line-bg: rgba(224, 199, 50, 0.2);
  --doc-sidebar-width: 330px !important;
  --ifm-tabs-padding-vertical: 7px;
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgb(102, 56, 184)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  --font-fallback: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-variable: 'InterVariable', var(--font-fallback);
}

body {
  font-family: var(--font-variable);
  font-weight: 400;
  letter-spacing: -0.0125em;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  

  --ifm-menu-color-active: #b198df;
  --ifm-color-primary: #b198df;
  --ifm-color-primary-dark: #522d93;
  --ifm-color-primary-darker: #472781;
  --ifm-color-primary-darkest: #29164a;
  --ifm-color-primary-light: #7345c6;
  --ifm-color-primary-lighter: #926ed3;
  --ifm-color-primary-lightest: #b198df;
  --ifm-color-accent: #e5481f;
  --ifm-color-accent-darker: #fc5e35;
  --docusaurus-highlighted-code-line-bg: rgba(224, 199, 50, 0.2);
  --ifm-font-color-base: rgb(218, 221, 225);
  --ifm-font-color-base-inverse: #000000;
}

[data-theme='dark'] .breadcrumbs__item--active .breadcrumbs__link {
  color: var(--ifm-font-color-base);
  background: none;
  text-decoration: none;
}

@media screen and (min-width: 997px) {
  .container {
    padding-left: 64px;
  }

  .nav-link__first {
    margin-left: 20px;
  }

  ul.breadcrumbs {
    padding: 0;
    margin-bottom: 32px;
  }
}

.navbar__brand {
  margin-right: 0;
}

.navbar__logo {
  max-width: 150px;
  max-height: 28px;
  margin-left: 4px;
}

/* All buttons */

a.snowplow-button,
button.snowplow-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
  height: 40px;
  border: none;
  border-radius: 4px;

  font-family: 'InterVariable', var(--font-fallback);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;

  background: #f0ebf8;
  color: #412476;
}

a.snowplow-button:active,
a.snowplow-button:hover,
a.snowplow-button:focus,
button.snowplow-button:active,
button.snowplow-button:hover,
button.snowplow-button:focus {
  text-decoration: none;
  background: #e4dcef;
  border-color: #e4dcef;
}

[data-theme='dark'] a.snowplow-button,
[data-theme='dark'] button.snowplow-button {
  background: var(--ifm-color-primary-light);
  border-color: var(--ifm-color-primary-light);
  color: var(--ifm-font-color-base);
}

[data-theme='dark'] a.snowplow-button:active,
[data-theme='dark'] button.snowplow-button:active,
[data-theme='dark'] a.snowplow-button:hover,
[data-theme='dark'] button.snowplow-button:hover,
[data-theme='dark'] a.snowplow-button:focus,
[data-theme='dark'] button.snowplow-button:focus {
  background: var(--ifm-color-primary-lighter);
  border-color: var(--ifm-color-primary-lighter);
}

/* Call to action buttons */

[data-theme] a.snowplow-button.cta-button,
[data-theme] button.snowplow-button.cta-button {
  background-color: var(--ifm-color-accent);
  border-color: var(--ifm-color-accent);
  color: white;
}

[data-theme] a.snowplow-button.cta-button:active,
[data-theme] button.snowplow-button.cta-button:active,
[data-theme] a.snowplow-button.cta-button:hover,
[data-theme] button.snowplow-button.cta-button:hover,
[data-theme] a.snowplow-button.cta-button:focus,
[data-theme] button.snowplow-button.cta-button:focus {
  background-color: var(--ifm-color-accent-darker);
  border-color: var(--ifm-color-accent-darker);
  color: white;
}

/* Alert buttons */

.alert a.snowplow-button {
  display: inline-block;
  margin-top: 5px;
}

[data-theme] .alert a.snowplow-button {
  color: white;
}

[data-theme='light'] .alert a.snowplow-button {
  background: var(--ifm-color-primary-light);
  border-color: var(--ifm-color-primary-light);
}

[data-theme='light'] .alert a.snowplow-button:hover {
  background: var(--ifm-color-primary-lighter);
  border-color: var(--ifm-color-primary-lighter);
}

/* End of buttons */

table {
  display: inline-table;
}
.table-of-contents__left-border {
  border-left-color: hsl(var(--border));
  margin-left: 5px;
  padding: 8px 4px;
  font-size: .875rem;
}
.table-of-contents li {
  padding: 0;
  margin: 2px 0 0 0;
}

.table-of-contents__link:hover, .table-of-contents__link:hover code, .table-of-contents__link--active, .table-of-contents__link--active code {
  color: hsl(var(--primary));
  text-decoration: none;
  background-color: hsl(var(--accent));
  border-radius: var(--radius)
}
.table-of-contents__link {
  
  display: block;
  padding: 6px var(--ifm-toc-padding-horizontal);
}
.theme-doc-toc-desktop ul ul {
  padding-left: 16px!important;
}

/* Left side bar CSS START */

aside.theme-doc-sidebar-container {
  border: none;
}
.sidebar_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-styles-module {
  width: 100%!important;
}

/* Left side bar CSS START */

aside.theme-doc-sidebar-container {
  border: none;
}
.sidebar_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-styles-module {
  width: 100%!important;

}
.table-of-contents li {
  padding: 0;
  margin: 2px 0 0 0;
}

.table-of-contents__link:hover, .table-of-contents__link:hover code, .table-of-contents__link--active, .table-of-contents__link--active code {
  color: hsl(var(--primary));
  text-decoration: none;
  background-color: hsl(var(--accent));
  border-radius: var(--radius)
}
.table-of-contents__link {
  
  display: block;
  padding: 6px var(--ifm-toc-padding-horizontal);
}
.theme-doc-toc-desktop ul ul {
  padding-left: 16px!important;
}


.theme-doc-sidebar-item-link-level-1.header {
  margin-top: 1em;
  padding-bottom: 0;
  padding-left: var(--ifm-menu-link-padding-horizontal);
  font-variant: all-small-caps;
  font-size: 1.1em;
  color: var(--ifm-color-primary-darker);
}


.theme-doc-sidebar-item-link-level-1, .theme-doc-sidebar-item-category-level-1 {
  font-weight: 500;
  color: hsl(var(--foreground));
}

.theme-doc-sidebar-item-category-level-2,
.theme-doc-sidebar-item-link-level-2,
.theme-doc-sidebar-item-category-level-3,
.theme-doc-sidebar-item-category-level-4,
.theme-doc-sidebar-item-link-level-3,
.theme-doc-sidebar-item-link-level-4 {
  font-weight: 340;
  line-height: 20px;
  color: hsl(var(--foreground));
}

.theme-doc-sidebar-item-category-level-2 .menu__list-item-collapsible .menu__caret
{
  display: flex;
  padding: 4px;
}

.menu {
  font-weight: regular;
  overflow-x: hidden;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

/* Non-top level menus */

.menu__list .menu__list {
      flex: 0 0 100%;
      margin: 0 0 0.5rem var(--ifm-menu-link-padding-horizontal);
      padding-left: 0;
      border-left: 1px solid hsl(var(--border));
    }

.menu__list-item:not(:first-child) {
      margin-top: 0.25rem;
    }

.menu__list-item--collapsed .menu__list {
        height: 0;
        overflow: hidden;
      }

.menu__list-item--collapsed .menu__link--sublist:after,
      .menu__list-item--collapsed .menu__caret:before {
        transform: rotateZ(90deg);
      }

.menu__list-item-collapsible {
      flex-wrap: wrap;
      position: relative;
      border-radius: 0.25rem;
      display: flex;
      transition: background var(--ifm-transition-fast) var(--ifm-transition-timing-default);
    }

.menu__list-item-collapsible:hover {
      background: hsl(var(--accent)) !important;
  }

.menu__list-item-collapsible--active {
        background-color: hsla(261.56, 53.33%, 47.06%, 0.12);
        border-radius: 0px var(--radius) var(--radius)  0px;
        border-left: 1px solid hsl(var(--primary));
}


.menu__list-item-collapsible--active .menu__caret {
  display: flex;
  border: none;
  background: none;
  padding: 4px;
}

.menu__link,
  .menu__caret {
    align-items: center;
    border-radius: 0.25rem;
    display: flex;
    transition: background var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  }

.menu__link:hover, .menu__caret:hover {
    background: var(--ifm-menu-color-background-hover);
    border-radius: 0px var(--radius) var(--radius)  0px;
     border-left: 1px solid hsl(var(--foreground));
  }

.menu__link {
    color: hsl(var(--muted-foreground));
    flex: 1;
    line-height: 1.4286;
    font-size: .93825rem;
    padding: var(--ifm-menu-link-padding-vertical)
      var(--ifm-menu-link-padding-horizontal);
  }

.menu__link:hover {
      text-decoration: none;
      color: hsl(var(--foreground));
      transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
    }

.menu__link--sublist-caret:after {
      content: '';
      margin-left: auto;
      min-width: 1.25rem;
      background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
      filter: var(--ifm-menu-link-sublist-icon-filter);
      height: 1.25rem;
      transform: rotate(180deg);
      width: 1.25rem;
      transition: transform var(--ifm-transition-fast) linear;
    }

.menu__link--active {
      color: hsl(var(--primary));
      background-color: hsla(261.56, 53.33%, 47.06%, 0.12);
    }

.menu__link--active:hover {
        color: var(--ifm-menu-color-active);
        border-radius: 0px var(--radius) var(--radius)  0px;
        border-left: 1px solid hsl(var(--primary));
}
.menu__list-item-collapsible .menu__link:hover, .menu__list-item-collapsible .menu__link--active{
  color: var(--ifm-menu-color-active);
        border-radius: 0px var(--radius) var(--radius)  0px;
        border-left: 1px solid hsl(var(--primary));
}

.menu__link--active:not(.menu__link--sublist) {
        background-color: hsla(261.56, 53.33%, 47.06%, 0.12);
        border-radius: 0px var(--radius) var(--radius)  0px;
        border-left: 1px solid hsl(var(--primary));
      }

.menu__caret {
    padding: var(--ifm-menu-link-padding-vertical)
      var(--ifm-menu-link-padding-horizontal);
      display: none;
  }

.menu__caret:before {
      content: '';
      background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
      filter: var(--ifm-menu-link-sublist-icon-filter);
      height: 1.25rem;
      transform: rotate(180deg);
      width: 1.25rem;
      transition: transform var(--ifm-transition-fast) linear;
}
.menu__list-item-collapsible:hover .menu__caret {
  display: flex;
  border: none;
  background: none;
  padding: 4px;
}

/* button to collapse */
aside.theme-doc-sidebar-container .button.button--secondary.button--outline {
  margin: 4px!important;
}
@media (min-width: 997px) {
  aside.theme-doc-sidebar-container nav.menu {
      padding: 1rem 0 0.5rem 0.5rem;
  }
  aside.theme-doc-sidebar-container .button.button--secondary.button--outline {
        display: inline-flex !important;
        background-color: hsl(var(--accent))!important;
        border-radius: var(--radius)!important;
        border: 1px solid hsl(var(--border))!important;
        align-items: center;
        justify-content: center;
  }
  aside.theme-doc-sidebar-container button svg{
      transform: rotate(180deg) scale(.5) !important;
  }
  .expandButton_m80_ {
    border-right: 1px solid hsl(var(--border));
    background-color: hsl(var(--background))!important;
  }
  .expandButtonIcon_BlDH {
    transform: rotate(0) scale(.5)!important;
  }
}
/* Left side bar CSS END */

.theme-doc-toc-desktop{
  position: static!important;
}


.menu__link,
  .menu__caret {
    align-items: center;
    border-radius: 0.25rem;
    display: flex;
    transition: background var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  }

.menu__link:hover, .menu__caret:hover {
    background: var(--ifm-menu-color-background-hover);
    border-radius: 0px var(--radius) var(--radius)  0px;
     border-left: 1px solid hsl(var(--foreground));
  }

.menu__link {
    color: hsl(var(--muted-foreground));
    flex: 1;
    line-height: 1.4286;
    font-size: .93825rem;
    padding: var(--ifm-menu-link-padding-vertical)
      var(--ifm-menu-link-padding-horizontal);
  }

.menu__link:hover {
      text-decoration: none;
      color: hsl(var(--foreground));
      transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
    }

.menu__link--sublist-caret:after {
      content: '';
      margin-left: auto;
      min-width: 1.25rem;
      background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
      filter: var(--ifm-menu-link-sublist-icon-filter);
      height: 1.25rem;
      transform: rotate(180deg);
      width: 1.25rem;
      transition: transform var(--ifm-transition-fast) linear;
    }

.menu__link--active {
      color: hsl(var(--primary));
      background-color: hsla(261.56, 53.33%, 47.06%, 0.12);
    }

.menu__link--active:hover {
        color: var(--ifm-menu-color-active);
        border-radius: 0px var(--radius) var(--radius)  0px;
        border-left: 1px solid hsl(var(--primary));
}
.menu__list-item-collapsible .menu__link:hover, .menu__list-item-collapsible .menu__link--active{
  color: var(--ifm-menu-color-active);
        border-radius: 0px var(--radius) var(--radius)  0px;
        border-left: 1px solid hsl(var(--primary));
}

.menu__link--active:not(.menu__link--sublist) {
        background-color: hsla(261.56, 53.33%, 47.06%, 0.12);
        border-radius: 0px var(--radius) var(--radius)  0px;
        border-left: 1px solid hsl(var(--primary));
      }

.menu__caret {
    padding: var(--ifm-menu-link-padding-vertical)
      var(--ifm-menu-link-padding-horizontal);
      display: none;
  }

.menu__caret:before {
      content: '';
      background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
      filter: var(--ifm-menu-link-sublist-icon-filter);
      height: 1.25rem;
      transform: rotate(180deg);
      width: 1.25rem;
      transition: transform var(--ifm-transition-fast) linear;
}
.menu__list-item-collapsible:hover .menu__caret {
  display: flex;
  border: none;
  background: none;
  padding: 4px;
}

/* button to collapse */
.collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module {
  display: none;
  margin: 4px!important;
}
@media (min-width: 997px) {
  .sidebar_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-styles-module { 
    padding-top: 72px !important;
    width: 272px !important;
  }
  .collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module {
      display: inline-flex !important
;
      background-color: hsl(var(--accent))!important;
      border-radius: var(--radius)!important;
      border: 1px solid hsl(var(--border))!important;
      align-items: center;
      justify-content: center;
  }
  .collapseSidebarButtonIcon_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module {
    transform: rotate(180deg) scale(.5) !important;
  }
  .expandButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Sidebar-ExpandButton-styles-module {
    border-right: 1px solid hsl(var(--border));
    background-color: hsl(var(--background))!important;
  }
  .expandButtonIcon_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Sidebar-ExpandButton-styles-module {
    transform: rotate(0) scale(.5)!important;
  }
}
/* Left side bar CSS END */


li.hidden,
article.hidden {
  display: none;
}

a.menu__link,
a.card {
  position: relative;
}

a.card:hover::after {
  top: 2rem;
  left: 2rem;
  bottom: auto;
}
.breadcrumbs {
  padding-left: 0;
}

.breadcrumbs__item:not(:last-child):after {
  content: '/';
  background: none;
  color: var(--ifm-color-primary);
  padding-right: 4px;
}

.breadcrumbs__item .breadcrumbs__link {
  color: var(--ifm-color-primary);
  text-decoration: underline;
}

.breadcrumbs__item .breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--ifm-font-color-base);
  background: none;
  text-decoration: none;
}

.breadcrumbs__item--active .breadcrumbs__link:hover {
  text-decoration: none;
}

.theme-doc-toc-desktop ul ul {
  padding-left: 0;
}

.breadcrumbs__link {
  font-size: 14px;
}

.breadcrumbs__item:not(:last-child):after {
  margin: 0 0 0 3px;
}

ul.breadcrumbs {
  --ifm-breadcrumb-size-multiplier: 0.4;
}

ul.breadcrumbs > li.breadcrumbs__item > a.breadcrumbs__link > svg {
  top: 2px;
}

.card .text--truncate {
  overflow: visible;
  text-overflow: initial;
  white-space: normal;
}

.col .card {
  height: 100%;
}

div[class^='announcementBar_'] {
  background: var(--ifm-color-announcement);
}

code {
  vertical-align: baseline;
}

input[type='text'],
input[type='email'],
textarea {
  font-family: var(--font-variable);
  font-size: 14px;
}

textarea {
  max-width: 100%;
}

[data-theme='light'] .dbt details {
  --ifm-alert-background-color: null;
}

img.shield {
  vertical-align: text-bottom;
}

.tabs-container:hover {
  border: 2px solid var(--ifm-color-primary);
}

.tabs-container {
  padding: 7px 14px 14px;
  border: 2px solid transparent;
  border-radius: var(--ifm-alert-border-radius);
  transition: 0.4s cubic-bezier(0.38, 0.14, 0.58, 1) all;
}

.tabs__item {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  text-align: center;
}

abbr[data-title] {
  position: relative;
  cursor: help;
  /* ensure consistent styling across browsers */
  text-decoration: underline dotted;
}

abbr[data-title]:hover::after,
abbr[data-title]:focus::after {
  content: attr(data-title);
  font-weight: normal;
  /* position tooltip like the native one */
  position: absolute;
  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;

  /* style tooltip */
  background-color: var(--ifm-font-color-base);
  color: var(--ifm-font-color-base-inverse);
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 14px;
  z-index: 9998;
  padding: 3px 5px;
}

.coloredSvg {
  stroke: var(--ifm-color-primary);
  fill: var(--ifm-color-primary);
}

fieldset {
  border: none;
}

.JsonValidator .MuiGrid-root.MuiGrid-item {
  padding-top: 8px;
}

.JsonValidator .collapsibleContent_i85q {
  padding-top: 0px;
}

.JsonValidator .MuiFormControl-root.MuiTextField-root.css-i44wyl {
  margin-bottom: 16px;
}

/*
Controls the display of navbar/sidebar items
- desktop-only: only visible on desktop top navbar
- mobile-only: only visible on mobile side menu, not in top navbar
*/
.navbar__items > .mobile-only {
  display: none;
}

@media (max-width: 996px) {
  .navbar__items > .mobile-only {
    display: none;
  }

  .navbar__items > .desktop-only {
    display: none;
  }
}

.menu__list > .desktop-only {
  display: none;
}

@media (min-width: 996px) {
  .menu__list > .desktop-only {
    display: none;
  }
}

/* Prevents the indicator on the Docs / Tutorials & Guides tabs from being hidden by overflow: hidden */
.desktop-only > .MuiTabs-scroller {
  overflow: visible !important;
  overflow-x: visible !important;
}

.mobile-only > .MuiTabs-scroller {
  overflow: visible !important;
  overflow-x: visible !important;
}

/* General styling for tutorial pages */
.tutorial-doc-page .pagination-nav {
  margin-top: 2rem;
}

/* Hide the last updated times on the tutorial home page */
.tutorial-home-page article > footer {
  display: none;
}

.docs-tutorial-tab-indicator {
  height: 4px !important;
  transition: none !important;
  transform: translateY(4px);
}

.docs-tutorial-tabs {
  overflow: visible !important;
}

.sources-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

/*START doc markdown grid layout control */
.theme-doc-markdown {
  --padding-inline: 1rem;
  --content-max-width: 720px;
  --breakout-max-width: 960px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.theme-doc-markdown  > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.theme-doc-markdown > .breakout, .theme-doc-markdown table, .theme-doc-markdown p:has(img, table), .theme-doc-markdown div:has(div.css-yu4ftp-MuiDataGrid-root, div.css-m0j720-MuiDataGrid-root) {
  grid-column-start: 2!important;
  grid-column-end: 5!important;
  height: fit-content;
}

.theme-doc-markdown  > .full-width  {
  grid-column: 1;
  display: grid;
  grid-template-columns: inherit;
}
/*Tutorial on same grid as rest of ducumentation site */

.theme-doc-markdown .MuiBox-root {
  grid-column: 1;
}
.theme-doc-markdown .MuiBox-root.css-pehwr4 {
  grid-column: 3;
}
img.full-width {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
/* doc markdown grid layout control END*/

/* START Control rest of the elements erase after we upgrade */
article nav.theme-doc-breadcrumbs, 
article footer.theme-doc-footer,
nav.pagination-nav {
  max-width: 740px;
  margin: 2rem auto 0 auto;
}
abbr[data-title]:focus:after, abbr[data-title]:hover:after {
  background-color: hsl(var(--popover));
  border-radius: var(--radius);
  color: var(--popover-foreground);
  content: attr(data-title);
  font-size: .875rem;
  padding: 4px 8px;
}
.tocCollapsibleContent_node_modules-\@docusaurus-theme-classic-lib-theme-TOCCollapsible-styles-module > ul {
  padding: .75rem !important;
  font-size: 1rem !important;
  margin: 0 !important;
}
.tocCollapsibleContent_node_modules-\@docusaurus-theme-classic-lib-theme-TOCCollapsible-styles-module a {
  text-decoration: none !important;
}
.prose .markdown table thead tr th h3, .prose .markdown table tbody tr td h3 {
  margin: .5rem 0 !important;
}
.prose table thead a {
  font-weight: 600;
  text-decoration: none;
}

/* END  Control rest of the elements erase after we upgrade */

