.breadcrumbHomeIcon {
  position: relative;
  top: 1px;
  vertical-align: top;
  height: 1.1rem;
  width: 1.1rem;
}

/* Tighten spacing around the home icon breadcrumb link */
.breadcrumbHomeIcon:global(.breadcrumbs__link) {
  padding: 4px 2px !important;
}