.notification {
  color: primary;
  background-color: var(--ifm-color-primary-light) !important;
}

.notificationTextHighlight {
  background: var(--ifm-color-primary-dark);
  padding: 5px;
  border-radius: 5px;
  font-family: monospace;
}
